@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* components extended */
@import 'floating-vue.css';
@import 'v-select.css';
@import 'v-filepond.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

/* base area
   html {
    font-size: 14px;
  }
*/

@layer base {
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  button:disabled,
  input:disabled,
  textarea:disabled {
    @apply opacity-70;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-cabin;
  }

}


